/*****************************/
/* Code-blocks: Font & style */
/*****************************/

.cm-s-obsidian div.HyperMD-codeblock-begin-bg,
.cm-s-obsidian div.HyperMD-codeblock-bg,
.cm-s-obsidian div.HyperMD-codeblock-end-bg,
.cm-s-obsidian pre.HyperMD-codeblock,
.cm-s-obsidian span.cm-inline-code,
.markdown-preview-view code,
.markdown-preview-view div.el-pre pre,
.markdown-preview-view span.cm-inline-code,
.theme-dark code[class*=language-],
.theme-dark pre[class*=language-],
.theme-light code[class*=language-],
.theme-light pre[class*=language-] {
  font-family: "Source Code Pro", monospace;
  font-size: 1em;
  letter-spacing: 0.25px;
}